*
{
	margin: 0;
	padding: 0;
	
}

/* body
{
	background-color: brown;
} */


header
{
	background-color:seagreen;
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
}

.logo
{
	float: left;
	width: 25%;
	text-align: center;
	
	
}
.navigation
{
	width:70%;
	display: inline;
}

.navigation ul
{
	display: flex;
	text-align: right;
	padding-left: 330px;
}
.navigation ul li
{
	margin-top: 10px;
	padding-left: 54px;
	list-style-type: none;
}

.navigation ul li a
{
	color: white;
	text-decoration: none;
}
.docimg img
{
	width: 1366px;
    height: 605px;
    background-size: cover;
  
	
}
.para
{
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%,-50%);
color: rgb(139, 187, 151);
background-color:black;
}
footer
{
	position: fixed;
	width:100%;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: black;
}

.pattern
{
    text-align: center;
    position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%,-50%);
    
}

 


